iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = true
        files {
            idkey = "irida_id"
            global = [
                "**/distances/profile_dists.allele_map.json",
                "**/distances/profile_dists.query_profile.tsv",
                "**/distances/profile_dists.ref_profile.tsv",
                "**/distances/profile_dists.results.tsv",
                "**/distances/profile_dists.run.json",
                "**/merged/locidex.merge.profile.tsv",
                "**/process/results.tsv",
                "**/process/results.xlsx",
                "**/pipeline_info/software_versions.yml",
                "**/locidex/concat/query/MLST_error_report_concat_query.csv",
                "**/locidex/concat/reference/MLST_error_report_concat_ref.csv"
            ]
        }
    }
}
