/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // Publish directory names
    cluster_directory_name = "clusters"
    profile_dists_directory_name = "distances"
    process_output_directory_name = "process"
    profile_dists_prefix = 'profile_dists.'

    locidex_merge_ref_directory_name = [params.outdir , "locidex", "merge"].join(File.separator)
    locidex_merge_query_directory_name = [params.outdir , "locidex", "merge"].join(File.separator)

    locidex_concat_ref_directory_name = [params.outdir , "locidex", "concat", "reference"].join(File.separator)
    locidex_concat_query_directory_name = [params.outdir , "locidex", "concat", "query"].join(File.separator)

    // The current date and time:
    def generate_date_prefix = {
        def instant = java.time.Instant.now() // Generating the current date and time once.
        def pattern = "uuuu-MM-dd'T'HH:mm'Z'"

        def formatter = java.time.format.DateTimeFormatter.ofPattern(pattern)
        formatter = formatter.withZone(java.time.ZoneId.from(java.time.ZoneOffset.UTC))

        return formatter.format(instant)
    }

    def date_prefix = generate_date_prefix()

    def addDatePrefix = { filename ->
        return "${date_prefix}_${filename}"
    }

    def addOutputPrefix = { filename ->
        def prefix = params.output_prefix ?: ""
        return "${prefix}${filename}"
    }

    // Rename files created by the "process_output" module:
    def renameProcessFiles = { filename ->
        def renameMap = ["results.tsv": "fastmatch.tsv",
                         "results.xlsx": "fastmatch.xlsx"]

        // Don't save the versions file:
        if (filename.equals("versions.yml")) {
            return null
        }

        def rename = filename

        // Rename files before adding prefixes:
        if (renameMap.containsKey(rename)) {
            rename = renameMap[rename]
        }

        // Add a date prefix if requested:
        if (params.prefix_include_date) {
            rename = addDatePrefix(rename)
        }

        // Add the output prefix:
        rename = addOutputPrefix(rename)

        return rename
    }

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: LOCIDEX_MERGE_REF {
        publishDir = [
            path: locidex_merge_ref_directory_name,
            mode: params.publish_dir_mode,
            pattern:  "ref/{MLST_error_report,profile}*.{csv,tsv}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: LOCIDEX_MERGE_QUERY {
        publishDir = [
            path: locidex_merge_query_directory_name,
            mode: params.publish_dir_mode,
            pattern:  "query/{MLST_error_report,profile}*.{csv,tsv}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: LOCIDEX_CONCAT_REF {
        publishDir = [
            path: locidex_concat_ref_directory_name,
            mode: params.publish_dir_mode,
            pattern:  "{MLST_error_report_,profile_}concat_ref.{csv,tsv}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: LOCIDEX_CONCAT_QUERY {
        publishDir = [
            path: locidex_concat_query_directory_name,
            mode: params.publish_dir_mode,
            pattern:  "{MLST_error_report_,profile_}concat_query.{csv,tsv}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PROFILE_DISTS {
        publishDir = [
            path: { ["${params.outdir}", "${task.profile_dists_directory_name}"].join(File.separator) },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null :
                filename.contains(File.separator) ? task.profile_dists_prefix + filename.split(File.separator)[-1] : task.profile_dists_prefix + filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: PROCESS_OUTPUT {
        ext.args = {
            def scheduled_argument = (params.output_type == "scheduled") ? "--scheduled" : " "
            def date_argument = "--date_string ${date_prefix}"

            arguments = scheduled_argument + " " + date_argument
            return arguments
        }

        publishDir = [
            path: { ["${params.outdir}", "${task.process_output_directory_name}"].join(File.separator) },
            mode: params.publish_dir_mode,
            saveAs: renameProcessFiles
        ]
    }
}
