/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    // Publish directory names
    cluster_directory_name = "clusters"
    profile_dists_directory_name = "distances"
    process_output_directory_name = "process"
    profile_dists_prefix = 'profile_dists.'

    locidex_merge_ref_directory_name = [params.outdir , "locidex", "merge"].join(File.separator)
    locidex_merge_query_directory_name = [params.outdir , "locidex", "merge"].join(File.separator)

    locidex_concat_ref_directory_name = [params.outdir , "locidex", "concat", "reference"].join(File.separator)
    locidex_concat_query_directory_name = [params.outdir , "locidex", "concat", "query"].join(File.separator)

    // The current date and time:
    def date_instant = java.time.Instant.now() // Generating the current date and time once.
    def date_pattern = "uuuu-MM-dd'T'HHmm'Z'"
    def date_formatter = java.time.format.DateTimeFormatter.ofPattern(date_pattern)
    date_formatter = date_formatter.withZone(java.time.ZoneId.from(java.time.ZoneOffset.UTC))
    def date_prefix = date_formatter.format(date_instant)

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: LOCIDEX_MERGE_REF {
        publishDir = [
            path: locidex_merge_ref_directory_name,
            mode: params.publish_dir_mode,
            pattern:  "ref/{MLST_error_report,profile}*.{csv,tsv}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: LOCIDEX_MERGE_QUERY {
        publishDir = [
            path: locidex_merge_query_directory_name,
            mode: params.publish_dir_mode,
            pattern:  "query/{MLST_error_report,profile}*.{csv,tsv}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: LOCIDEX_CONCAT_REF {
        publishDir = [
            path: locidex_concat_ref_directory_name,
            mode: params.publish_dir_mode,
            pattern:  "{MLST_error_report_,profile_}concat_ref.{csv,tsv}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: LOCIDEX_CONCAT_QUERY {
        publishDir = [
            path: locidex_concat_query_directory_name,
            mode: params.publish_dir_mode,
            pattern:  "{MLST_error_report_,profile_}concat_query.{csv,tsv}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PROFILE_DISTS {
        publishDir = [
            path: { ["${params.outdir}", "${task.profile_dists_directory_name}"].join(File.separator) },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null :
                filename.contains(File.separator) ? task.profile_dists_prefix + filename.split(File.separator)[-1] : task.profile_dists_prefix + filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: PROCESS_OUTPUT {
        ext.args = {
            // Scheduled Pipelines Parameters:
            // If the pipeline is not running in scheduled pipelines mode,
            // these parameters will either be empty strings (no parameter),
            // and/or not be used by the process script.
            def scheduled_argument = (params.output_type == "scheduled") ? "--scheduled" : ""
            def date_argument = (params.output_type == "scheduled") ? "--date_string ${date_prefix}": ""
            def top_samples_threshold_argument = (params.output_type == "scheduled" && !(params.fastmatch_top_samples_threshold == null)) ? "--top_samples_threshold ${params.fastmatch_top_samples_threshold}": ""

            // Output File Path:
            // PREFIX_DATE_fastmatch -> PREFIX_DATE_fastmatch.xlsx
            // Listeria_2026-04-20T1809Z_fastmatch -> Listeria_2026-04-20T1809Z_fastmatch.xlsx
            def output = "fastmatch"
            output = params.prefix_include_date ? "${date_prefix}_${output}": output
            output = !(params.output_prefix == null) ? "${params.output_prefix}${output}": output
            def output_argument = "--output ${output}"
            distance_type_argument = "--distance_type ${params.pd_distm}"

            // Construct optional arguments String:
            def arguments = output_argument + " " + scheduled_argument + " " + date_argument + " " + top_samples_threshold_argument + " " + distance_type_argument
            return arguments
        }

        publishDir = [
            path: { ["${params.outdir}", "${task.process_output_directory_name}"].join(File.separator) },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
