params {
    prefix_include_date = true
}

iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = true
        files {
            idkey = "irida_id"
            global = [
                "**/process/*fastmatch.xlsx"
            ]
        }
    }
}
