iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json"
        overwrite = true
        schema = "${projectDir}/assets/schema_output.json"
        validate = true
        files {
            idkey = "irida_id"
            global = [
                "**/process/*fastmatch.xlsx",
                "**/append/distances_and_metadata.tsv"
            ]
        }
        metadata {
            samples {
                keep = [
                    "fastmatch_status",
                    "fastmatch_top_samples",
                    "fastmatch_matched_samples_count",
                    "fastmatch_threshold",
                    "fastmatch_date",
                    "fastmatch_code_match",
                    "fastmatch_top_genomic_address",
                    "fastmatch_results_filename"
                ]
                csv {
                    path = "**/process/*fastmatch.scheduled.tsv"
                    sep = "\t"
                    idcol = 'query_id'
                }
            }
        }
    }
}
